.body {
	display: flex;
	flex direction: inline;
	background-color: black;
}	

.dashboard {
	width: 50%;
	text-align: center;
	margin-left: 50px;
}

.profile {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 20px;
	text-align: center;
	margin-top: 60px;
	background-color: black;
	box-shadow: 0 0 40px 30px #FFF, 0 0 30px 40px #C0C, 0px 0px 50px 50px #0FF;
	font-size: 3rem;
	margin-bottom: 100px;
}

#header1 {
	font-family: Rubik;
	font-size: 1em;
	margin-top: 20px;
  color: #FFF;
}

#p1 {
	font-family: verdana;	
	font-size: 0.5em;
	margin-top: -20px;
	color: #CC00FF;
}

.btn {
	width: 50%;
	height: auto;
	border: 5px solid #C0C;
	border-radius: 10px;
  background-color: black;
	box-shadow: 0 0 10px 10px #FFF, 0 0 15px 15px #C0C, 0px 0px 10px 20px #0FF;;	
	font-family: Rubik;
	font-size: 1em;
	color: white;
}

.font {
	font-family: verdana;
}

.schedule-table {
	width: 100%;
	background-color: green;
	
}

.center {
	margin: auto auto;
}

.styling {
	background-color: white;
	box-shadow: 0 0 10px 10px #FFF, 0 0 10px 10px #C0C, 0px 0px 10px 10px #0FF;	
	width: 100%;
}

.glow-ball-div {
	margin-left: 100px;
	margin-top: 10px;
}

.div-to-rotate-glow-ball {
	width: 75px;
	height: 75px;
	border: 5px solid #CC00FF;
	border-radius: 50%;
}

.glow-ball {
	height: 20px;
	width: 20px;
	background-color: white;
	margin: auto auto;
	border-radius: 50%;
	box-shadow: 0 0 10px 10px #FFF, 0 0 15px 15px #C0C, 0px 0px 10px 20px #0FF;
}



