.body {
	display: flex;
	flex-direction: inline;
	background-color: black;
	justify-content: center;
}	

.dashboard {
	width: 50%;
	text-align: center;
	margin-left: 50px;
}

.profile {
	display: flex;
	flex-direction: column;
	width: auto;
	margin: auto auto;
	border-radius: 20px;
	text-align: center;
	margin-top: 60px;
	background-color: black;
	box-shadow: 0 0 40px 30px #FFF, 0 0 30px 40px #C0C, 0px 0px 50px 50px #0FF;
	font-size: 3em;
	margin-bottom: 80px;
  transform: scale(.75);
  animation: ScaleUp 4s;
}

@keyframes ScaleUp {
  0%, {
    transform: scale(0);
  }
  50%, 100% {
    transform: scale(.75);
  }
	75% {
		transform: scale(1);
	}
}

#header1 {
	font-family: Rubik;
	font-size: 1em;
	margin-top: 20px;
  color: #FFF;
}

#p1 {
	font-family: verdana;	
	font-size: 0.75em;
	margin-top: -20px;
	color: #CC00FF;
}

.btn {
	width: 50%;
	height: auto;
	border: 5px solid #FFF;
	border-radius: 10px;
  background-color: black;
	box-shadow: 0 0 10px 10px #FFF, 0 0 15px 15px #C0C, 0px 0px 10px 20px #0FF;;	
	font-family: Rubik;
	font-size: 1em;
	color: #0FF;
}

button:hover {
	border: 5px solid #C0C;
	cursor: pointer;
}

.font {
	font-family: verdana;
}

.schedule-table {
	width: 100%;	
}

.center {
	margin: auto auto;
}

.styling {
	background-color: #000;	
	width: 100%;
	border: 10px double #C0C;
	border-color: transparent #C0C transparent;
	border-radius: 30px;
	color: white;
	margin-bottom: 50px;
	margin-top: 30px;
}

.glow-ball-div {
	display: flex;
	justify-content: center;
}

.div-to-rotate-glow-ball {
	width: 75px;
	height: 75px;
	border: 5px solid #000;
	border-radius: 50%;
}

.glow-ball {
	height: 20px;
	width: 20px;
	background-color: white;
	margin: auto auto;
	border-radius: 50%;
	box-shadow: 0 0 10px 10px #FFF, 0 0 15px 15px #C0C, 0px 0px 10px 20px #0FF;
}

.glow-ball1 {
	transform: scale(.75);
  animation: ballGlow1 2s;
	animation-delay: 3s;
}

@keyframes ballGlow1 {
  0%, {
    transform: scale(0);
  }
  50%, 100% {
    transform: scale(.75);
  }
	75% {
		transform: scale(1);
	}	
}

.glow-ball2 {
	transform: scale(.75);
  animation: ballGlow2 2s;
	animation-delay: 3.5s;
}

@keyframes ballGlow2 {
  0%, {
    transform: scale(0);
  }
  50%, 100% {
    transform: scale(.75);
  }
	75% {
		transform: scale(1);
	}	
}

.glow-ball3 {
	transform: scale(.75);
  animation: ballGlow3 2s;
	animation-delay: 4s;
}

@keyframes ballGlow3 {
  0%, {
    transform: scale(0);
  }
  50%, 100% {
    transform: scale(.75);
  }
	75% {
		transform: scale(1);
	}	
}




